body {
    font-family: Arial, sans-serif;
    background-image: url('network-4851119_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ethnocentric';
    src: url('TT\ Octosquares\ Trial\ Medium.ttf') format('truetype');
}

#titulo{
    text-align: center;
    font-weight: bold;
    font-size: 3.4rem;
    font-family: 'ethnocentric';
    src: url('TT\ Octosquares\ Trial\ Medium.ttf') format('truetype');
    margin-top: 10px;
    color:rgb(255, 255, 255)
}

header {
    background: #0a042e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
}

.botaonav{ 
    color: white;
    text-decoration: none;
    
    padding: 10px; /*distância entre a letra e as bordas*/
    border: none; /*sem borda*/
    border-radius: 10px; /*arredondamento das bordas*/
    cursor: pointer; /*para o cursor do mouse virar a "mãozinha"*/
    transition: background-color 0.6s; /*transição de uma cor para outra*/
    transition: color 0.6s;
    width: 300%;
}



main {
    padding: 20px;
}

.nos-title{
    font-family: 'ethnocentric';
    font-size: 3rem;
    src: url('TT\ Octosquares\ Trial\ Medium.ttf') format('truetype');
}

#sobre{
    color: white;
}

.nos-text{
    font-size: 2rem;
}

#contato{
    color: white;
}

.contato-title{
    font-family: 'ethnocentric';
    font-size: 3rem;
    src: url('TT\ Octosquares\ Trial\ Medium.ttf') format('truetype');
}

.contato-text{
    font-size: 2rem;
}

.email{
    color: #7867da;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #0a042e;
    color: #fff;
    position: relative;
    height: 70px;
    margin-left: -5%;
    bottom: -92px;
    width: 110%;
}